*.log
.DS_Store

node_modules

local.properties

cordova/platforms/android/ant-build
cordova/platforms/android/ant-gen
cordova/platforms/android/bin
cordova/platforms/android/gen

cordova/platforms/android/CordovaLib/ant-build
cordova/platforms/android/CordovaLib/ant-gen
cordova/platforms/android/CordovaLib/bin
cordova/platforms/android/CordovaLib/gen
*.scssc
config.codekit